.vertical-timeline-element-icon {
  background-color: var(--ifm-background-color);

  transform: scale(1);
  transition: transform 300ms ease-in-out;
  box-shadow:
          0 0 0 4px var(--line-color),
          inset 0 2px 0 rgba(0, 0, 0, 0.08),
          0 3px 0 4px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
