.image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 1rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        &.fade-in {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
    }
}

@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.placeholder {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #eee;
    z-index: 44;
    overflow: hidden;
    border-radius: 5px;
    &.fade-out {
        animation: vanish 500ms ease-out;
    }
}
.activity {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    background-image: -moz-linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    background-image: -webkit-linear-gradient(
        to left,
        rgba(251, 251, 251, 0.05),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.6),
        rgba(251, 251, 251, 0.3),
        rgba(251, 251, 251, 0.05)
    );
    animation: loading 1s infinite;
    z-index: 45;
}
